#login{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    width: 21%;
    height: 69%;
    background-color: chartreuse;
    border-radius: 30px;
    margin-left: 40%;
    margin-right: auto;
} 
#login div{
    display: flex;
}
form {
    text-align: center;
}