#usu{
    width: 12.5em;
    height: 150px;
    display: flex;
    float: right;
    border: solid black 2px;
    flex-direction: column;
    border-bottom-left-radius: 50px;
}
#usu img{
    border-radius: 100%;
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
}
#usu{
    color: black
}
#usu tbody{
    display: none;
}
#usu tbody tr{
    display: flex;
    flex-direction: column;
}
a{
    color:  black;
    
}
