table,
td,
tr{
    border: solid black 1px;
    color: white;
}
body{
    background-color: rgb(35, 35, 75);
}
table{
    margin-left: 10%;
}
header{
    margin-left: 10%;
}
#comments{
    position: fixed;
    min-width: 100%;
    bottom: 0;
    background-color:khaki
}