body{
    margin: 0px;
    display: block;
}
table{
    margin-left: 10%;
}
tr{
    display: flex;
    flex-direction: column;
}

nav{
    position: fixed;
}
#ncs{
    display: flex;
}
.icper{
    height: 256px;
    width: 256px;
}
.pert td{
    display: flex;
    justify-content: center;
}
.arc td{
    display: flex;
    justify-content: center;
}
thead td{
    display: flex;
    justify-content: center;
}
.pert a{
    text-align: center;
}
.icnc{
    width: 100px;
    height: 100px;
}